SPRING_R2DBC_ROOT_PASSWORD=root123
SPRING_R2DBC_DATABASE=dbtest
SPRING_R2DBC_USER=usertest
SPRING_R2DBC_PASSWORD=user123

SPRING_PROFILES_ACTIVE=dev

DYNATRACE_TENANT=seu_tenant
DYNATRACE_API_TOKEN=seu_token
